@keyframes grow {
	from {
		scale: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes shrink {
	from {
		scale: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-down {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes slide-right {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(100%);
	}
}

.default-move,
.default-enter-active,
.default-leave-active {
	transition: all 0.5s ease;
}

.default-enter-from,
.default-leave-to {
	opacity: 0;
}

.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

.slide-in-move {
	transition:
		opacity 0.5s linear,
		transform 0.5s ease-in-out;
}

.slide-in-leave-active {
	transition:
		opacity 0.3s linear,
		transform 0.2s cubic-bezier(0.5, 0, 0.7, 0.4);
	transition-delay: calc(0.1s * (var(--total) - var(--i)));
}

.slide-in-enter-active {
	transition:
		opacity 0.3s linear,
		transform 0.2s cubic-bezier(0.2, 0.5, 0.1, 1);
	transition-delay: calc(0.1s * (var(--i) - var(--old-total)));
}

.slide-in-enter-from,
.slide-in-leave-to {
	opacity: 0;
}

.slide-in-enter-from {
	transform: translateX(1em);
}
.slide-in-leave-to {
	transform: translateX(-1em);
}

@keyframes grow-from-top {
	from {
		max-height: 0;
	}

	to {
		max-height: var(--height);
	}
}

.grow-from-top-move,
.grow-from-top-enter-active,
.grow-from-top-leave-active {
	animation: grow-from-top 300ms ease-out;
	overflow-y: hidden;
}

@keyframes shrink-from-top {
	from {
		max-height: var(--height);
	}

	to {
		max-height: 0;
	}
}

.shrink-from-top-move,
.shrink-from-top-enter-active,
.shrink-from-top-leave-active {
	animation: shrink-from-top 300ms ease-out;
	overflow-y: hidden;
}
