.v-popper__inner {
    background: var(--background) !important;
    border: 1px solid var(--primary) !important;
}

.v-popper--theme-tooltip .v-popper__inner {
    border: 1px solid var(--primary) !important;
}

.v-popper__arrow-outer {
    /* border-color: var(--light-1) !important; */
    display: none !important;
}

.v-popper__arrow-inner {
    /* border-color: var(--light-1) !important; */
    display: none !important;
}

.v-popper__arrow-container {
    display: none !important;
}
