.v-popper__inner {
	background: var(--background) !important;
	border: 1px solid var(--accent) !important;

	color: var(--text) !important;

	font-family: Montserrat !important;
	font-size: 0.625rem !important;
	font-style: normal !important;
	font-weight: 600 !important;
	line-height: normal !important;
	letter-spacing: 0.3px !important;
}

.v-popper__arrow-outer {
	/* border-color: var(--light-1) !important; */
	border: none !important;
}

.v-popper__arrow-inner {
	/* border-color: var(--light-1) !important; */
	border: none !important;
}
