name: deploy

on:
  workflow_run:
    workflows: [front]
    branches:
      - main
    types:
      - completed
  workflow_dispatch:

jobs:
  runner-job:
    runs-on: ubuntu-latest
    steps:
      - name: Build docker image and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            if [ ! -d ${{ vars.FOLDERPROJECT }} ]; then
                git clone ${{ github.server_url }}/${{ github.repository }} ${{ vars.FOLDERPROJECT }}
            else
                echo "Repo already exists in server..."
            fi
            cd ${{ vars.FOLDERPROJECT }}
            git pull; true
            if [ ! -s .env ]; then
                echo ${{ secrets.DEFAULT_ENV }} > .env
            fi
            if [ ! -s web/.env ]; then
                echo ${{ secrets.DEFAULT_ENV }} > web/.env
            fi
            docker compose up -d --build
